body {
  background: #eeeeee;
}

.buttons {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 100px;
}

.custom-btn {
  padding: 20px 25px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.custom-btn:before {
  height: 0%;
  width: 2px;
}

.custom-btn:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

i {
  width: 100px;
  height: auto;
}
